/* BASE: Define Variables */
:root {
  --font-family: 'Ubuntu', sans-serif;
  --font-subheading: 'Myriad Pro', sans-serif;
  --font-size-header: 28px;
  --font-size-subheading: 18px;
  --font-size-content-heading: 16px;
  --font-size-body: 11px;
  --font-size-month: 8px;
  
   /* Colors */
--color-primary: #ffffff;
--color-secondary: #1596bd;
--color-bg: #19b2de;
--color-text: #494949;
--color-accent: #a3a3a3;
--color-date: #D8605F;
}

/* ==========================================================================
    Base styles: opinionated defaults
   ========================================================================== */

html {
  /* color: #222; */
  font-size: 1em;
  line-height: 1.4;
  border: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

/* ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
} */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Core Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}



/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, Myriad-pro, sans-serif; 
  font-weight: 300;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Core Layout - Footer */

.row {
    display: grid;
    row-gap: 1rem;
    scrollbar-width: none;
}

.col {
    position: relative;
}

footer {
  background-color: #0E2E4E;
  color: #FFFFFF;
}

/* Stylized Lines */

hr.whats-new--stylized-line-blue {
  border: 1px solid #19B2DE;
  width: 232px;
  margin: 0;
  margin-top: 10px;
}

.whats-new--arrow-down-blue {
  width: 0; 
  height: 0;
  margin-left: 15px;
  margin-bottom: 10px;

  border-left: 4.3px solid transparent;
  border-right: 4.3px solid transparent;
  border-top: 4.3px solid #19B2DE;
}

hr.whats-new--stylized-line-yellow {
  border: 1px solid #FFB901;
  width: 232px;
  margin: 0;
  margin-top: 10px;
}

.whats-new--arrow-down-yellow {
  width: 0; 
  height: 0;
  margin-left: 15px;
  margin-bottom: 10px;
  
  border-left: 4.3px solid transparent;
  border-right: 4.3px solid transparent;
  border-top: 4.3px solid #FFB901;
}

.whats-new--arrow-down-green {
  width: 0; 
  height: 0;
  margin-left: 15px;
  margin-bottom: 10px;
  
  border-left: 4.3px solid transparent;
  border-right: 4.3px solid transparent;
  border-top: 4.3px solid #21C183;
}

hr.whats-new--stylized-line-green {
  border: 1px solid #21C183;
  width: 232px;
  margin: 0;
  margin-top: 10px;
} 

/* Mobile Layout */

@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }

    .image-of-alf {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      margin: 30px;
    }
  
    .alf-caption {
      font-size: 12px;    
    }
  
  hr.stylized-line-thick {
    border: 2px solid #FFB901;
    width: 118px;
    height: 3px;
    margin-top: 17px;
    margin-bottom: 17px;
    /* align-self: end; */
  }
  
  .col-1 {
    grid-column-start: 1;
  }
  
  .col-2 {
    grid-column: 2;
    margin: 30px 30px 30px 0px;
  }

  .col.m-col-2.col-2 {
    grid-column: 2 span 2;
    grid-row: 1 span 1;
    /* margin: 30px 30px 30px 0px; */
  }

  .thumbnails.thumbnails--social-media {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
  }

  .thumbnails.thumbnails--social-media-links {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px 32px;
    grid-template-rows: 32px;
    align-items: start;
    justify-items: stretch;
    grid-gap: 7px;
    grid-auto-flow: row;
    margin: 12px 52px 17px 0px;
  }

  input.email--textbox {
    background-color: #DE6262;
    color: white; 
    border-radius: 4px;
    width: 239.502px;
    height: 32px;
  }

  .submit-button {
    background-color: #FFB901;
    color: white;
    border-radius: 4px;
    border: 0;
    margin: 0;
    width: 53.333px;
    height: 32px;
  }
  
  .paper-plane-icon{
    width: 26.667px;
    height: 17px;
    border: 0;
    margin: 0;
    box-align: center;
  }




  }


/* Tablet Layout */

@media screen and (min-width: 40em) {
    .row {
      display:grid;
      max-width: 70rem;
      row-gap: 1.5rem;
      column-gap: 1.5rem;
      margin: 0 auto;
    }

    .grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }
}

/* Desktop Layout */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .m-hide {
        display: none;
    }
}

/* Large Boys */

@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .l-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .l-hide {
        display: none;
    }
}


/* About Us Section */

/* .about-us.about-us--header {
  color: #FFB901;
  }
  
  .about-us.about-us--paragraphs {
    font-size: 12px;
  } */
  

/* Stylized Line */




/* Instagram Section */

/* .instagram.instagram--header {
  color: #DE6262;
  }

div.instagram.instagram--thumbnails {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  width: 232px;
  height: 224px;
}

.instagram.instagram--image {
  width: 64px;
  height: 64px;
  margin: 0;
} */



/* What's New Section */

/* .whats-new.whats-new--header{
  color: #19B2DE;
  font-size: 15px;
}

.whats-new.whats-new--paragraphs {
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.whats-new.whats-new--bold{
  color: #19B2DE;
  font-size: 9px;
}

.highlight-bold {
  color: #19B2DE;
  font-size: 9px
} */




/* Track Us Section */
/* 
    i think this is useless

div.col.col--socials (col m-col-2 col-2) {
  width: 432px;
  height: 754px;
  flex-shrink: 0;
}

.email {
  flex-wrap: nowrap;
}

    useless^^
*/


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
    Author's custom styles
   ========================================================================== */
/* Header and Navigation Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 96px;
  max-width: 992px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    height: 100%;
  }
}

.header-title-container {
  display: flex;
  align-items: end;
  padding-bottom: 9px;
}

@media (max-width: 768px) {
  .header-title-container {
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 11px;
  }
}

@media (max-width: 432px) {
  .header-title-container {
    justify-content: left;
    padding-left: 15px;
    padding-bottom: 42px;
  }
}

.header-title {
  color: #4d4d4d;

  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.header-title-icon {
  margin-bottom: -0.5rem;
  padding-left: 0.5rem;
  width: 2.5rem;
}

.nav-container {
  max-width: 432px;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .nav-container {
    max-width: 100%;
    height: 64px;
  }
}

@media (max-width: 432px) {
  .nav-container {
    display: none;
  }
}

.nav-links-container {
  display: flex;
  list-style: none;
  height: 100%;
  width: 100%;
}

.nav-link-item {
  display: flex;
  align-items: end;
  padding: 10px;

  width: 100%;
}

.nav-link-text {
  color: #fff;
}

.nav-link-text-icon {
  color: #fff;

  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 91%;
}

.bg-nav-green {
  background-color: #25c389;
}
.bg-nav-yellow {
  background-color: #ffb901;
}
.bg-nav-red {
  background-color: #de6262;
}
.bg-nav-light-blue {
  background-color: #19b2de;
}
.bg-nav-blue {
  background-color: #265787;
}

.left-border-blue {
  border-left: 7.735px solid #265787;
}
.left-border-red {
  border-left: 7.735px solid #de6262;
}
.left-border-yellow {
  border-left: 7.735px solid #ffb901;
}

.main-page-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-page-content {
    max-width: 100%;
  }
}

.hero-container {
  margin-inline: auto;
  position: relative;
  margin-bottom: 64px;
}

@media (max-width: 432px) {
  .hero-container {
    display: none;
  }
}

.hero-container-image {
  width: 100%;
  height: auto;
}

.hero-overlay-text-container {
  position: absolute;
  bottom: 20%;
  left: 6%;
}

.hero-overlay-text-block {
  padding: 20px 24px;
  background-color: #fff;
  margin-block: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .hero-overlay-text-block {
    padding: 1px 16px;
    height: 48px;
  }
}

.hero-overlay-text {
  color: #3c3c3c;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 768px) {
  .hero-overlay-text {
    font-size: 18px;
  }
}

.hero-caption {
  text-align: center;
  color: #3b3b3b;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Font-lineheight_h1, 48px);
  margin-bottom: 64px;
}

.hero-caption-highlight {
  color: #1eafde;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Font-lineheight_h1, 48px);
}

.things-we-do {
  margin-bottom: 31px;
  text-align: center;
}

.things-we-do-title {
  color: #494949;

  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.things-we-do-subtitle {
  color: #a3a3a3;
  font-family: "Source Sans 3", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.solutions-gallery {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .solutions-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
  }
}

@media (max-width: 432px) {
  .solutions-gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 54px;
  }
}

.solutions-gallery-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 432px) {
  .solutions-gallery-item {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.solutions-gallery-item img {
  margin-bottom: 16px;
}

@media (max-width: 432px) {
  .solutions-gallery-item-description {
    margin-left: 16px;
  }
}

.solutions-gallery-item-title {
  color: #545454;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.solutions-gallery-item-subtitle {
  color: #939393;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Font-lineheight_body, 18px); /* 150% */
}





  
/* ==========================================================================
    Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  /* clip: rect(0, 0, 0, 0); */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  /* clip: auto; */
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  /* (-webkit-min-device-pixel-ratio: 1.25), */
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


